<div class="container">
  <h1>Inscrivez un chaton</h1>

  <form
    [formGroup]="kittenForm"
    (ngSubmit)="thisForm.valid && createKitten()"
    #thisForm="ngForm"
  >
    <div class="form-floating mb-3">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Name"
        formControlName="kittenName"
      />
      <!-- [ngClass]="{ 'is-invalid': invalidInput }"  se trouvait dans la balise input du dessus -->
      <label for="name">Nom : </label>
      <div
        *ngIf="
          kittenForm.get('kittenName')?.touched &&
          kittenForm.get('kittenName')?.errors
        "
      >
        <small class="invalidInput">Le nom est requis.</small>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        name="race"
        class="form-control"
        placeholder="Race"
        formControlName="race"
      />
      <label for="race">Race : </label>
      <div
        *ngIf="
          kittenForm.get('race')?.touched && kittenForm.get('race')?.errors
        "
      >
        <small class="invalidInput">La race est requise.</small>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="date"
        name="birthday"
        class="form-control"
        placeholder="Birthdate"
        formControlName="birthdate"
      />
      <label for="birthday">Date de naissance : </label>
      <div
        *ngIf="
          kittenForm.get('birthdate')?.touched &&
          kittenForm.get('birthdate')?.errors
        "
      >
        <small class="invalidInput">La date de naissance est requise.</small>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="url"
        name="image"
        class="form-control"
        placeholder="imageUrl"
        formControlName="imgLink"
      />
      <label for="image">Lien de l'image : </label>
      <div
        *ngIf="
          kittenForm.get('imgLink')?.touched &&
          kittenForm.get('imgLink')?.errors
        "
      >
        <small class="invalidInput">Une image est requise.</small>
      </div>
    </div>
    <button
      [ngClass]="{ formDisabled: kittenForm.invalid }"
      type="submit"
      class="btn btn-primary"
    >
      Valider
    </button>
  </form>
</div>
